.about-card {
  position: relative;
  min-width: 270px;
  max-width: 270px;
  height: 100%;
  min-height: 149px;
  padding: 22px 0 0 20px;
  color: $color-white;

  &::before {
    z-index: $z-index-first;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 42px;
    height: 42px;
    background-color: $color-cerulean-blue;
    background-image: url("/__spritemap#sprite-star-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 22px;
  }

  @media (min-width: $tablet-width) {
    min-width: 273px;
    max-width: 273px;
  }

  @media (min-width: $desktop-width) {
    min-width: 504px;
    max-width: 504px;
    min-height: 164px;
  }
}

.about-card__content {
  position: relative;
  height: 100%;
  z-index: 0;
  padding: 15px 20px;
  border-radius: 16px;
  border: 1px solid $color-alabaster;

  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
  }

  h3 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.16px;
  }

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: $color-alabaster;
  }

  p:not(:last-child) {
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {

    h3 {
      max-width: 180px;
      font-size: 20px;
      line-height: 1.1;
      letter-spacing: 0.2px;
    }

    p {
      font-size: 16px;
      line-height: 1.25;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 30px 41px;
    display: grid;
    grid-template-columns: 201px 1fr;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin-bottom: 0;
      font-size: 26px;
      line-height: 1.15;
      letter-spacing: 0.26px;
    }
  }
}
