.accordion {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion__element {
  display: block;
  position: relative;
  border-radius: 14px;
  border: 2px solid $color-cerulean-blue;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &--is-disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--is-active {
    background-color: $color-cerulean-blue;
  }

  &--is-active:has(.accordion__button:active) {
    background-color: $color-endeavour;
  }


  &:has(button:disabled) {
    opacity: 0.3;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    border-radius: 16px;
  }
}

.accordion__wrapper-content {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s, margin-top 0.3s;
  z-index: $z-index-first;

  .accordion__element--is-active & {
    max-height: 100%;
  }

  .accordion__element--is-disabled & {
    max-height: 0;
  }

  .accordion__element--is-active.accordion__element--is-disabled & {
    max-height: 0;
  }

  .accordion__element:has(.accordion__button:disabled) & {
    max-height: 0;
  }

  @media (min-width: $tablet-width) {
    .accordion__element--is-active & {
      margin-top: -12px;
    }
  }

  @media (min-width: $desktop-width) {
    .accordion__element--is-active & {
      margin-top: -19px;
    }
  }
}

.accordion__content {
  padding: 0 15px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-alabaster;

  p {
    margin: 0;
  }

  p:not(:last-child) {
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.26;
    padding: 0 31px 31px 30px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 1.63;
    padding: 0 68px 39px 40px;

    br {
      display: none;
    }
  }
}

.accordion__button {
  width: 100%;
  position: relative;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  border-radius: 14px;
  gap: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  color: $color-cerulean-blue;
  cursor: pointer;
  transition: background-color 0.3s;

  br {
    display: none;
  }

  &::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: $color-cerulean-blue;
    background-image:
      linear-gradient(to right, $color-white 0%, $color-white 100%),
      linear-gradient(to bottom, $color-white 0%, $color-white 100%);
    background-size: 18px 2px, 2px 18px;
    background-repeat: no-repeat;
    background-position: center;
    transition: border-color 0.3s, background-color 0.3s, background-image 0.3s;
  }

  &:hover,
  &:focus {
    background-color: $color-white;
  }

  &:active {
    background-color: $color-white;
    color: $color-endeavour;
  }

  &:hover::after,
  &:focus::after {
    background-color: $color-white;
    border-color: $color-cerulean-blue;
    background-image:
      linear-gradient(to right, $color-cerulean-blue 0%, $color-cerulean-blue 100%),
      linear-gradient(to bottom, $color-cerulean-blue 0%, $color-cerulean-blue 100%);
  }

  &:active::after {
    background-color: $color-endeavour;
    border-color: transparent;
    background-image:
      linear-gradient(to right, $color-white 0%, $color-white 100%),
      linear-gradient(to bottom, $color-white 0%, $color-white 100%);
  }

  .accordion__element--is-active & {
    color: $color-white;
  }

  .accordion__element--is-active &::after {
    border-color: transparent;
    background-color: $color-white;
    background-image: linear-gradient(to right, $color-cerulean-blue 0%, $color-cerulean-blue 100%);
    background-size: 20px 2px;
  }


  .accordion__element--is-active &:hover {
    background-color: $color-cerulean-blue;
  }

  .accordion__element--is-active &:hover::after,
  .accordion__element--is-active &:focus::after {
    background-color: $color-cerulean-blue;
    border-color: $color-white;
    background-image: linear-gradient(to right, $color-white 0%, $color-white 100%);
  }

  .accordion__element--is-active &:active {
    background-color: $color-endeavour;
  }

  .accordion__element--is-active &:active::after {
    border-color: $color-white;
    background-color: $color-white;
    background-image: linear-gradient(to right, $color-endeavour 0%, $color-endeavour 100%);
  }

  @media (min-width: $tablet-width) {
    padding: 30px;
    border-radius: 16px;
    font-size: 22px;
    line-height: 1.19;

    &::after {
      align-self: start;
    }

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
    font-size: 28px;
    line-height: 1.21;

    br {
      display: none;
    }
  }
}
