.button-swiper {
  --slider-nav-buttons-height: 32px;
  --additional-padding-click-zone: 10px;

  position: relative;
  width: var(--slider-nav-buttons-height);
  height: var(--slider-nav-buttons-height);
  flex-shrink: 0;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  color: $color-cerulean-blue;
  cursor: pointer;
  transition: color 0.3s;

  &--next {
    justify-content: flex-start;
  }

  &::after {
    position: absolute;
    z-index: $z-index-minus-first;
    content: "";
    width: 22px;
    height: 22px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  &--next::after {
    left: 0;
    right: unset;
  }

  &:hover {
    color: rgba(49, 109, 194, 0.7);
  }

  &:focus {
    color: $color-cerulean-blue;
  }

  &:focus::after {
    background-color: $color-white;
  }

  &:active {
    color: rgba(49, 109, 194, 0.7);
  }

  &:active::after {
    background-color: $color-white;
  }

  &:disabled {
    pointer-events: none;
    color: $color-mischka;
  }

  .news__buttons-swiper-list & {
    right: calc(var(--additional-padding-click-zone) * -1);
  }

  .news__buttons-swiper-list &--prev {
    right: unset;
    left: calc(var(--additional-padding-click-zone) * -1);
  }
}


.button-swiper svg {
  display: block;
}

.button-swiper--prev svg {
  transform: rotate(180deg);
}
