.checkbox {
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: $color-charcoal;
  cursor: pointer;

  br {
    display: none;
  }

  &--dark-background {
    br {
      display: block;
    }

    color: rgba(255, 255, 255, 0.9);
  }

  @media (min-width: $tablet-width) {
    line-height: 1;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {}
}

.checkbox__input+.checkbox__mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: $color-cerulean-blue;
  border: 1px solid transparent;
  transition: border-color 0.3s, background-color 0.3s;

  .checkbox--dark-background & {
    background-color: $color-white;
  }
}

.checkbox__input:checked+.checkbox__mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 8px;
  mask-image: url("/__spritemap#sprite-check-mark-view");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  background-color: transparent;
}

.checkbox:hover .checkbox__mark,
.checkbox:has(.checkbox__input:not(:disabled):focus) .checkbox__mark {
  border-color: $color-cerulean-blue;
  background-color: $color-white;
}

.checkbox--dark-background:hover .checkbox__mark,
.checkbox--dark-background:has(.checkbox__input:not(:disabled):focus) .checkbox__mark {
  border-color: $color-white;
  background-color: transparent;
}

.checkbox:has(.checkbox__input:not(:disabled):checked) .checkbox__mark {
  background-color: $color-cerulean-blue;
}

.checkbox:has(.checkbox__input:not(:disabled):checked) .checkbox__mark::before {
  background-color: $color-white;
}

.checkbox:has(.checkbox__input:not(:disabled):checked):hover .checkbox__mark,
.checkbox:has(.checkbox__input:not(:disabled):checked:focus) .checkbox__mark {
  background-color: $color-white;
}

.checkbox:has(.checkbox__input:not(:disabled):checked):hover .checkbox__mark::before,
.checkbox:has(.checkbox__input:not(:disabled):checked:focus) .checkbox__mark::before {
  background-color: $color-cerulean-blue;
}


.checkbox--dark-background:has(.checkbox__input:not(:disabled):checked) .checkbox__mark {
  background-color: $color-white;
}

.checkbox--dark-background:has(.checkbox__input:not(:disabled):checked) .checkbox__mark::before {
  background-color: $color-cerulean-blue;
}

.checkbox--dark-background:has(.checkbox__input:not(:disabled):checked):hover .checkbox__mark,
.checkbox--dark-background:has(.checkbox__input:not(:disabled):checked:focus) .checkbox__mark {
  background-color: $color-cerulean-blue;
}

.checkbox--dark-background:has(.checkbox__input:not(:disabled):checked):hover .checkbox__mark::before,
.checkbox--dark-background:has(.checkbox__input:not(:disabled):checked:focus) .checkbox__mark::before {
  background-color: $color-white;
}

.checkbox__input:disabled+.checkbox__mark {
  pointer-events: none;
  background-color: $color-mischka;
  border-color: transparent;
}

.checkbox__input:checked:disabled+.checkbox__mark::before {
  background-color: rgba(255, 255, 255, 0.7);
}

.checkbox__label {
  display: block;
  padding-left: 30px;
}

.checkbox--error:has(.checkbox__input:not(:checked)) .checkbox__mark {
  background-color: rgba(255, 94, 102, 0.2);
  border-color: $color-wild-watermelon;
  opacity: 0.7;
}
