.checkbox {
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: $color-charcoal;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    line-height: 1;
  }
}

.checkbox__input + .checkbox__mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: $color-cerulean-blue;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.checkbox--error:not(:checked) .checkbox__mark {
  background-color: rgba(255, 94, 102, 0.2);
  border-color: $color-wild-watermelon;
  opacity: 0.7;
}

.checkbox__input:checked + .checkbox__mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 8px;
  mask-image: url("/__spritemap#sprite-check-mark-view");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  background-color: $color-white;
}

.checkbox:hover .checkbox__mark,
.checkbox:focus .checkbox__mark {
  border-color: $color-cerulean-blue;
  background-color: $color-white;
}

.checkbox:has(.checkbox__input:not(:disabled):checked):hover .checkbox__mark::before,
.checkbox:has(.checkbox__input:not(:disabled):checked):focus .checkbox__mark::before {
  background-color: $color-cerulean-blue;
}

.checkbox__input:checked:disabled + .checkbox__mark {
  background-color: $color-mischka;
  border-color: transparent;
}

.checkbox__input:checked:disabled + .checkbox__mark::before {
  background-color: rgba(255, 255, 255, 0.7);
}

.checkbox__label {
  display: block;
  padding-left: 30px;
}
