.faq {
  padding: 50px 0;

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.faq__section-title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}
