.form {
  padding: 37px 15px 40px;
  border-radius: 16px;
  background-color: $color-white;

  &--dark-background {
    padding: 15px;
    background-color: $color-cerulean-blue;
  }

  @media (min-width: $tablet-width) {
    padding: 55px 80px 60px;

    &--dark-background {
      padding: 38px 40px 36px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 53px 80px 60px;

    &--dark-background {
      padding: 43px 70px 38px;
    }
  }
}

.form__title {
  margin: 0;
  margin-bottom: 13px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: $color-cerulean-blue;

  .form--dark-background & {
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.22;
    color: $color-white;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
    font-size: 28px;

    .form--dark-background & {
      margin-bottom: 28px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 1.13;

    .form--dark-background & {
      margin-bottom: 32px;
    }
  }
}

.form__description {
  max-width: 220px;
  margin: 0 auto 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-charcoal;

  .form--dark-background & {
    margin: 0;
    margin-bottom: 20px;
    max-width: unset;
    text-align: left;
    color: rgba(240, 239, 233, 0.9);
  }

  @media (min-width: $tablet-width) {
    max-width: 350px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.25;

    .form--dark-background & {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 1.63;
  }
}

.form__user-data {
  margin: 0;
  padding: 0;
  border: none;
}

.form__inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.form__list-item {
  display: block;
  margin-bottom: 15px;

  .form--dark-background & {
    margin-bottom: 20px;
  }
}

.form__select {
  margin-bottom: 15px;

  .form--dark-background & {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;

    .form--dark-background & {
      width: 100%;
      max-width: unset;
      margin-bottom: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.form__checkbox {
  margin-bottom: 25px;

  .form--dark-background & {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;

       .form--dark-background & {
      margin-bottom: 44px;
    }
  }
}

.form__primary-button {
  width: 100%;
  min-height: 42px;

  &--thick {
    min-height: 44px;
  }

  .form--dark-background & {
    max-width: 260px;
  }

  @media (min-width: $tablet-width) {
    min-height: 54px;
    width: 194px;
    margin: 0 auto;

    &--thick {
      min-height: 56px;
    }

    .form--dark-background & {
      margin: unset;
      width: 352px;
      max-width: unset;
    }
  }

  @media (min-width: $desktop-width) {
    .form--dark-background & {
      width: 100%;
    }
  }
}
