.form {}

.form__title {
  margin: 0;
  margin-bottom: 13px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: $color-cerulean-blue;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 1.13;
  }
}

.form__description {
  max-width: 220px;
  margin: 0 auto 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    max-width: 350px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.63;
  }
}

.form__user-data {
  margin: 0;
  padding: 0;
  border: none;
}

.form__inputs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.form__select {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.form__checkbox {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.form__primary-button {
  width: 100%;
  min-height: 42px;

  @media (min-width: $tablet-width) {
    min-height: 54px;
    width: 194px;
    margin: 0 auto;
  }
}
