.grant {
  padding: 71px 0 70px;
  background-color: $color-cerulean-blue;


  @media (min-width: $tablet-width) {
    padding: 101px 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 120px 0;
  }
}

.grant__wrap {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 498px 498px;
    column-gap: 138px;
  }
}

.grant__section-title {
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }
}

.grant__top-wrap {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: unset;
  }
}

.grant__content {
  margin-bottom: 29px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $color-alabaster;

  p {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 498px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;

    p {
      font-size: 16px;
      line-height: 1.25;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 1.63;

    p {
      line-height: 1.63;
    }
  }
}

.grant__image-wrap {
  position: relative;
  z-index: 1;
  width: 290px;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  background-color: $color-chambray;

  @media (min-width: $tablet-width) {
    width: 678px;
    height: 375px;
  }

  @media (min-width: $desktop-width) {
    width: 498px;
    height: 363px;
  }
}

.grant__image-wrap img {
  position: relative;
  z-index: -1;
  border-radius: 16px;
  display: block;
  object-fit: cover;
  text-indent: -100vw;
}

.grant__bottom-wrap {
  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.grant__list-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: $color-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    font-size: 28px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    max-width: 373px;
    font-size: 32px;
    line-height: 1.13;
  }
}

.grant__list {
  max-width: 275px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  justify-content: flex-end;
  counter-reset: grant-item;

  @media (min-width: $tablet-width) {
    max-width: 658px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    row-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    max-width: 478px;
    grid-template-columns: 1fr;
    row-gap: 23px;
  }
}

.grant__item {
  display: block;
  position: relative;

  &::before {
    position: absolute;
    top: -5px;
    left: -15px;
    background-color: $color-cerulean-blue;
    z-index: $z-index-first;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    width: fit-content;
    height: 32px;
    padding: 7px;
    content: counter(grant-item);
    counter-increment: grant-item;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: $color-white;
  }

  @media (min-width: $tablet-width) {

    &::before {
      top: -15px;
      left: -20px;
      min-width: 42px;
      height: 42px;
      padding: 10px;
      font-size: 22px;
      letter-spacing: 0.22px;
    }
  }
}

.grant__info {
  margin: 0;
  padding: 24px 25px;
  border: 1px solid $color-alabaster;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 400;
  color: $color-alabaster;

  @media (min-width: $tablet-width) {
    height: 100%;
    font-size: 16px;
    line-height: 1.25;
    padding: 30px 40px 30px 25px;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.63;
    padding-right: 57px;
  }
}
