.hero-card {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.hero-card__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(49, 109, 194, 0.2);
  z-index: $z-index-first;
}

.hero-card__image-wrap {
  z-index: 0;
  min-height: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.hero-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-card__info-wrap {
  z-index: $z-index-second;
  align-self: flex-end;
  padding: 80px 0 20px;
  // max-height: 400px;
  // overflow-y: auto;
  // display: flex;
  // align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  // padding: 44px 0 70px;
}

.div {
  // border-radius: 0px 16px 16px 0px;
  // padding-top: 28px;
  // --nb-r: 16px;
  // --nb-w: 20px;
  // --nb-h: 20px;
  // background-color: $color-white;
}

.hero-card__pagination-nebo-wrap {
  background-image: linear-gradient(to bottom, transparent 15px, $color-white 15px);
  // border-radius: 12px 12px 0px 0px;
  width: fit-content;
  min-height: 28px;
  // width: fit-content;
  // background-color: $color-white;
    --nb-r: 14px;
  --nb-w: 6px;
  --nb-h: 6px;
  --nb-curve-rw: 10px;
  --nb-curve-rh: 10px;
  --nb-cor2-rw: 12px;
  --nb-cor2-rh: 12px;
  --nb-cor1-rw: 16px;
  --nb-cor1-rh: 16px;
}

.hero-card__info {
  min-height: 299px;
  // background-color: $color-white;
  // padding: 28px 14px 10px 14px;
}

.hero-card__info {
  // padding: 28px 0 0 0;
  border-radius: 12px 0 0 0;
  // background-color: $color-white;
  --nb-r: 14px;
  --nb-w: 184px;
  --nb-h: 6px;
  --nb-curve-rw: 10px;
  --nb-curve-rh: 10px;
  --nb-cor2-rw: 12px;
  --nb-cor2-rh: 12px;
  --nb-cor1-rw: 16px;
  --nb-cor1-rh: 16px;
}

.hero-card__title-nebo-inner-wrap {
  // padding: 0 14px 26px 14px;
  // background-color: rgb(0, 183, 255);
  background-image: linear-gradient(to right, rgb(0, 183, 255) 194px, transparent 194px);
  --nb-r: 14px;
  --nb-w: 87px;
  --nb-h: 5px;
  --nb-curve-rw: 10px;
  --nb-curve-rh: 10px;
  --nb-cor2-rw: 12px;
  --nb-cor2-rh: 12px;
  --nb-cor1-rw: 16px;
  --nb-cor1-rh: 16px;
}

.hero-card__title-nebo-wrap {
  padding: 28px 0 0 0;
  background-color: $color-white;
  --nb-r: 16px;
  --nb-w: -1px;
  --nb-h: -12px;
  --nb-curve-rw: 8px;
  --nb-curve-rh: 10px;
  --nb-cor2-rw: 12px;
  --nb-cor2-rh: 12px;
  // --nb-cor1-rw: 16px;
  // --nb-cor1-rh: 16px;
}


.hero-card__title {
  padding: 20px 15px 26px 14px;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
  color: $color-cerulean-blue;
  // background-color: $color-white;
}

.hero-card__content-nebo-wrap {
  margin-top: -16px;
  max-width: 267px;
  padding: 16px 14px 26px 14px;
  background-color: $color-white;
  // background-color: $color-white;
  // --nb-r: 14px;
  // --nb-w: 0px;
  --nb-h: 0px;
  --nb-curve-rw: 10px;
  --nb-curve-rh: 10px;
  --nb-cor2-rw: 14px;
  --nb-cor2-rh: 14px;
  --nb-cor1-rw: 16px;
  --nb-cor1-rh: 16px;
}


.hero-card__content {
  position: relative;
  z-index: 5;
  // padding: 16px 14px 16px 0;
  // background-color: $color-white;

  // margin-bottom: 25px;
  margin-top: -9px;
  max-width: 267px;
  border-bottom-right-radius: 16px;
  padding: 0 14px 16px 14px;
  background-color: $color-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;


  p {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
  }

  p:not(:last-child) {
    margin-bottom: 8px;
  }
}

.hero-card__button-wrap {
  margin-top: -16px;
  max-width: 240px;
  padding: 24px 15px 10px 15px;
  background-color: $color-white;
  border-radius: 0px 0px 14px 14px;
  --nb-w: 31px;
  --nb-h: 40px;
  --nb-curve-rw: 10px;
  --nb-curve-rh: 10px;
  --nb-cor2-rw: 14px;
  --nb-cor2-rh: 14px;
  --nb-cor1-rw: 16px;
  --nb-cor1-rh: 16px;
}


.hero-card__primary-button {
  position: relative;
  z-index: $z-index-second;
  // margin-top: -10px;
  min-height: 44px;
  width: 154px;
}
