.hero {
  --mobile-header-height: 54px;
  --mobile-padding-top: 20px;
  --tablet-header-height: 56px;
  --tablet-padding-top: 30px;
  --mobile-padding-left: 15px;
  --tablet-padding-left: 45px;
  --desktop-padding-left: 100px;
  position: relative;
  top: calc((var(--mobile-header-height) + var(--mobile-padding-top))* -1);
  margin-bottom: calc((var(--mobile-header-height) + var(--mobile-padding-top))* -1);

  @media (min-width: $tablet-width) {
    top: calc((var(--tablet-header-height) + var(--tablet-padding-top))* -1);
    margin-bottom: calc((var(--tablet-header-height) + var(--tablet-padding-top))* -1);
  }
}

.hero__slider {
  overflow: hidden;

  --mobile-container-padding: 15px;
  --mobile-pagination-left-padding: 12px;
}

.hero__slider-item {
  height: auto;
}

.hero__slider-list {
  margin: 0;

  // margin-top: auto;
  padding: 0;
  list-style: none;
}

.hero__slider .hero__slider-pagination {
  display: flex;
  z-index: $z-index-first;
  position: absolute;
  inset: 0;
  // height: fit-content;
  // left: calc(50vw - $mobile-width / 2 + var(--mobile-padding-left));
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 12px 12px 0 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    // left: calc(50vw - $tablet-width / 2 + var(--tablet-padding-left));
    border-radius: 20px 20px 0px 0px;
    gap: 8px;
    padding: 12px 18px;
  }

  @media (min-width: $desktop-width) {
    // left: calc(50vw - $desktop-width / 2 + var(--desktop-padding-left));
  }

   @media (max-width: $less-then-mobile-width) {
    // left: var(--mobile-padding-left);
  }
}
