.hero-card {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(49, 109, 194, 0.2);
  }
}

.hero-card__image-wrap {
  // z-index: 0;
  min-height: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.hero-card__image {
  position: relative;
  // z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-card__info-wrap {
  z-index: $z-index-second;
  align-self: flex-end;
  padding: 80px 0 20px;
  grid-area: 1 / 1 / 2 / 2;
}

.hero-card__pagination-nebo-wrap {
  position: relative;
  width: fit-content;
  max-width: 250px;
  min-width: 40px;
  min-height: 28px;
    border-radius: 12px 12px 0 0;
    background-color: $color-white;
}

.hero-card__pagination-right-rounding {
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 20px;
  height: 20px;
  --nb-r: 10px;
  --nb-w: 0px;
  --nb-h: 0px;
  background-color: $color-white;
}

.hero-card__title {
  max-width: 290px;
  min-width: 290px;
  min-height: 40px;
  position: relative;
  width: fit-content;
  border-radius: 0 16px 16px 0;
  background-color: $color-white;
  padding: 20px 16px 16px 14px;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.18;
  color: $color-cerulean-blue;
}

.hero-card__title-right-rounding {
  position: absolute;
  right: 8px;
  bottom: -19px;
  width: 16px;
  height: 22px;
  --nb-w: 0px;
  --nb-h: 0px;
  --nb-curve-rw: 4px;
  --nb-curve-rh: 8px;
  --nb-cor1-rw: 11px;
  --nb-cor1-rh: 17px;
  --nb-cor2-rw: 0px;
  --nb-cor2-rh: 10px;
  background-color: $color-white;
}

.hero-card__content-nebo-wrap {
  margin-top: -16px;
  max-width: 267px;
  padding: 16px 14px 26px;
  background-color: $color-white;
}


.hero-card__content {
  position: relative;
  max-width: 267px;
  border-bottom-right-radius: 16px;
  padding: 0 14px 15px;
  background-color: $color-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  p {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
  }

  p:not(:last-child) {
    margin-bottom: 8px;
  }
}

.hero-card__button-nebo-wrap {
  position: relative;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 0px 0px 14px 14px;
  background-color: $color-white;
}

.hero-card__button-right-rounding {
  position: absolute;
  right: -20px;
  top: 0;
  width: 20px;
  height: 20px;
  --nb-r: 10px;
  --nb-w: 0px;
  --nb-h: 0px;
  background-color: $color-white;
}


.hero-card__primary-button {
  position: relative;
  min-height: 44px;
  width: 154px;
}
