.hero {
  --mobile-header-height: 54px;
  --mobile-padding-top: 20px;
  --tablet-header-height: 56px;
  --tablet-padding-top: 30px;
  position: relative;
  top: calc((var(--mobile-header-height) + var(--mobile-padding-top))* -1);
  margin-bottom: calc(var(--mobile-header-height) + var(--mobile-padding-top));

  @media (min-width: $tablet-width) {
 top: calc((var( --tablet-header-height) + var(--tablet-padding-top))* -1);
  margin-bottom: calc(var( --tablet-header-height) + var(--tablet-padding-top));
  }

}

.hero__slider {
  overflow: hidden;

  --mobile-container-padding: 15px;
  --mobile-pagination-left-padding: 12px;
}

.hero__slider-item {
  height: auto;
}

.hero__slider-list {
  margin: 0;

  // margin-top: auto;
  padding: 0;
  list-style: none;
}

.hero__slider .hero__slider-pagination {
  position: static;
  background-color: $color-white;
  padding: 6px 12px 0;
  border-radius: 12px 12px 0 0;

  // z-index: $z-index-first;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  width: fit-content;
  max-width: 300px;

  // transition: bottom 0.3s;
  // --nb-r: 14px;
  // --nb-w: 6px;
  // --nb-h: 6px;
  // --nb-curve-rw: 10px;
  // --nb-curve-rh: 10px;
  // --nb-cor2-rw: 12px;
  // --nb-cor2-rh: 12px;
  // --nb-cor1-rw: 16px;
  // --nb-cor1-rh: 16px;
}

.hero__pagination-control {
  margin: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: none;
  border: none;
  flex-shrink: 0;
  padding: 0;
  background-color: transparent;
  background-image: radial-gradient(circle, transparent 2px, $color-cerulean-blue 3px, $color-cerulean-blue 5px, transparent 6px);
  cursor: pointer;
  transition: background-image 0.3s;

  &:hover {
    background-image: radial-gradient(circle, rgba(49, 109, 194, 0.7) 2px, $color-white 3px, $color-white 5px, transparent 6px);
  }

  &:focus {
    background-image: radial-gradient(circle, $color-cerulean-blue 5px, transparent 6px);
  }

  &:active {
    background-image: radial-gradient(circle, $color-endeavour 5px, transparent 6px);
  }

  &--is-active {
    background-image: radial-gradient(circle, $color-endeavour 5px, transparent 6px);
  }
}
