.hero {
  --mobile-header-height: 54px;
  --mobile-padding-top: 20px;
  --tablet-header-height: 56px;
  --tablet-padding-top: 30px;
  position: relative;
  top: calc((var(--mobile-header-height) + var(--mobile-padding-top))* -1);
  margin-bottom: calc((var(--mobile-header-height) + var(--mobile-padding-top))* -1);

  @media (min-width: $tablet-width) {
    top: calc((var(--tablet-header-height) + var(--tablet-padding-top))* -1);
    margin-bottom: calc((var(--tablet-header-height) + var(--tablet-padding-top))* -1);
  }
}

.hero__slider {
  overflow: hidden;

  --mobile-container-padding: 15px;
  --mobile-pagination-left-padding: 12px;
}

.hero__slider-item {
  height: auto;
}

.hero__slider-list {
  margin: 0;

  // margin-top: auto;
  padding: 0;
  list-style: none;
}

.hero__slider .hero__slider-pagination {
  position: static;
  background-color: $color-white;
  padding: 6px 12px;
  border-radius: 12px 12px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0px 0px;
  }

  @media (min-width: $desktop-width) {}
}


