.input {
  display: block;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.input__label {
  @include label-form-field;

  .input:has(.input__field:not(:disabled)):hover & {
    color: $color-charcoal;
  }

  .input:has(.input__field:focus) & {
    color: $color-charcoal;
  }

  .input:has(.input__field:active) & {
    color: $color-charcoal;
  }

  .input:has(.input__field:disabled) & {
    color: $color-mischka;
  }

  .input--error & {
    color: $color-charcoal;
  }

  @media (min-width: $tablet-width) {
    line-height: 1.43;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.29;
  }
}

.input__field {
  @include form-field;

  .input:has(.input__field:not(:disabled)):hover & {
    border-color: $color-charcoal;
  }

  &:focus,
  &:active {
    border-color: $color-charcoal;
  }

  &:disabled {
    @include disabled-field;
  }

  .input--error & {
    border-color: $color-wild-watermelon;
    background-color: rgba(255, 94, 102, 0.2);
  }
}
