.input {
  display: block;
  margin: 0;
}

.input__label {
  @include label-form-field;

  .input--dark-background & {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(240, 239, 233, 0.8);
  }

  .input:has(.input__field:not(:disabled)):hover & {
    color: $color-charcoal;
  }

  .input:has(.input__field:focus) & {
    color: $color-charcoal;
  }

  .input:has(.input__field:active) & {
    color: $color-charcoal;
  }

  .input:has(.input__field:disabled) & {
    @include label-form-disabled;
  }

  .input--error & {
    color: $color-charcoal;
  }

  .input--error.input--dark-background & {
    color: rgba(240, 239, 233, 0.8);
  }

  .input--dark-background:has(.input__field:not(:disabled)):hover &,
  .input--dark-background:has(.input__field:not(:disabled):focus) &,
  .input--dark-background:has(.input__field:not(:disabled):active) & {
    color: $color-alabaster;
  }

  .input--dark-background:has(.input__field:disabled) {
    @include label-form-disabled-dark-background;
  }

  .input--dark-background.input--error & {
    color: rgba(240, 239, 233, 0.8);
  }

  @media (min-width: $tablet-width) {
    line-height: 1.43;
    margin-bottom: 12px;

    .input--dark-background & {
      font-size: 14px;
      line-height: 1.43;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 1.29;

    .input--dark-background & {
      line-height: 1.29;
    }
  }
}

.input__field {
  @include form-field;

  .input--dark-background & {
    min-height: 50px;
    border-color: rgba(255, 255, 255, 0.3);
    color: $color-white;
  }

  .input--textarea & {
    max-width: 100%;
    min-height: 94px;
  }

  .input:has(.input__field:not(:disabled)):hover & {
    border-color: $color-charcoal;
  }

  &:focus,
  &:active {
    border-color: $color-charcoal;
  }

  &:disabled {
    @include disabled-field;
  }

  .input--error & {
    border-color: $color-wild-watermelon;
    background-color: rgba(255, 94, 102, 0.2);
  }

  .input--dark-background:has(.input__field:not(:disabled)):hover &,
  &--dark-background:focus,
  &--dark-background:active {
    border-color: $color-white;
  }

  &--dark-background:disabled {
    background-image: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.4);
  }

  @media (min-width: $tablet-width) {
    .input--textarea & {
      min-height: 88px;
    }
  }
}
