.main-footer {
  padding: 40px 0;

  --addition-padding-policy: 8px;

  @media (min-width: $desktop-width) {
    padding: 60px 0 32px;
  }
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 235px 1fr;
    row-gap: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 707px 250px;
    row-gap: 18px;
    justify-content: space-between;
  }
}

.main-footer__top-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 52px 528px;
    justify-content: space-between;
    margin-bottom: unset;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 52px 603px;
    grid-column: 1 / 2;
  }
}

.main-footer__logo {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: unset;
  }
}

.main-footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  row-gap: 0;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    gap: 10px;
  }
}

.main-footer__link {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: $color-charcoal;
  transition: color 0.3s;

  &:hover {
    color: rgba(49, 109, 194, 0.7);
  }

  &:focus {
    color: $color-cerulean-blue;
  }

  &:active {
    color: $color-endeavour;
  }

  &--is-disabled {
    pointer-events: none;
    color: $color-mischka;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.06;
  }
}

.main-footer__list-item {
  display: block;
}

.main-footer__policy-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin-bottom: unset;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.main-footer__policy {
  margin-bottom: 5px;
  display: block;
  padding: var(--addition-padding-policy) 0;
  font-weight: 400;
  line-height: 1.17;
  color: $color-charcoal;
  text-decoration: underline;
  text-decoration-color: $color-charcoal;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: color 0.3s, text-decoration-color 0.3s;

  &:hover {
    color: rgba(49, 109, 194, 0.7);
    text-decoration-color: rgba(49, 109, 194, 0.7);
  }

  &:focus {
    color: $color-cerulean-blue;
    text-decoration-color: $color-cerulean-blue;
  }

  &:active {
    color: $color-endeavour;
    text-decoration-color: $color-endeavour;
  }

  &--is-disabled {
    pointer-events: none;
    color: $color-mischka;
    text-decoration-color: $color-mischka;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    text-underline-offset: 6px;
    font-size: 14px;
    line-height: 1.29;
    margin-bottom: unset;
  }
}

.main-footer__rights {
  margin: 0;
  line-height: 1.17;
  color: rgba(72, 72, 72, 0.6);

  @media (min-width: $tablet-width) {
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.main-footer__social {
  @media (min-width: $tablet-width) {
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: unset;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}
