.main-header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  min-height: 54px;
  width: 100%;
  z-index: $z-index-second;

  // @media (min-width: $tablet-width) {

  // }

  // @media (min-width: $desktop-width) {

  // }
}

.main-header__content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

  // @media (min-width: $tablet-width) {

  // }

  // @media (min-width: $desktop-width) {

  // }
}

.main-header__primary-button {
  min-height: 54px;
  width: 136px;

  // @media (min-width: $tablet-width) {

  // }

  // @media (min-width: $desktop-width) {

  // }

}

.main-header__main-nav {
  justify-self: end;
}

.main-header__nav-wrapper {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  transition: opacity 0.5s, visibility 0.5s;

  .main-header--nav-is-opened & {
    z-index: $z-index-third;
    opacity: 1;
    visibility: visible;
  }
}

.main-header__nav-list {
  margin: 0;
  padding: 30px 25px 30px 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 16px;
  background-color: $color-cerulean-blue;
}

.main-header__sub-nav-list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.main-header__nav-link {
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: $color-white;
  }

  &--with-arrow {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  &--sub-link {
     text-transform: unset;
  }

  // &:focus {
  //   border-color: $color-white;
  // }

  // &:active {
  //   border-color: transparent;
  //   // color: $color-resolution-blue;
  // }

  // &--is-disabled {
  //   // color: $color-nobel;
  //   pointer-events: none;
  // }

  // @media (min-width: $tablet-width) {
  //   font-size: 16px;
  //   letter-spacing: 0.64px;
  // }

  // @media (min-width: $desktop-width) {
  //   text-transform: unset;
  //   margin-left: unset;
  //   font-weight: 400;
  //   letter-spacing: unset;
  // }
}

.main-header__nav-link-arrow {
  display: block;
  flex-shrink: 0;
  transform: rotate(180deg);
}
