.main-header {
  position: relative;
  padding-top: 20px;
  min-height: 54px;
  width: 100%;
  z-index: $z-index-second;

  &::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(13, 29, 51, 0.4);
    transition: opacity 0.3s, visibility 0.3s;
  }

  &--nav-is-opened::after {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }
}

.main-header__content {
  display: grid;
  grid-template-columns: 52px 1fr;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.main-header__menu-button {
  position: relative;
  z-index: $z-index-third;
  min-height: 54px;
  min-width: 136px;
  max-width: 200px;
  justify-self: end;


  .main-header--nav-is-opened & {
    grid-column: 1 / 3;
    min-width: 290px;
    max-width: 290px;
  }

  @media (min-width: $tablet-width) {
    min-height: 56px;

    .main-header--nav-is-opened & {
      min-width: 286px;
      max-width: 286px;
    }
  }
}

.main-header__main-nav {
  justify-self: end;

  .main-header--nav-is-opened & {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.main-header__nav-wrapper {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  transition: opacity 0.5s, visibility 0.5s;

  .main-header--nav-is-opened & {
    z-index: $z-index-third;
    opacity: 1;
    visibility: visible;
  }
}

.main-header__nav-list {
  margin: 0;
  padding: 28px 25px 27px 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: $color-cerulean-blue;
  max-height: 500px;
  overflow-y: auto;

  @media (min-width: $tablet-width) {
    width: 286px;
    margin-left: auto;
  }
}

.main-header__sub-nav-list {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-left: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.main-header__nav-item {
  display: block;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &:has(.main-header__nav-link--sub-link) {
    margin-bottom: 0;
  }
}

.main-header__nav-link,
.main-header__nav-button {
  display: block;
  width: fit-content;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  word-break: break-all;
  cursor: pointer;
  transition: color 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: $color-white;
  }

  &--sub-link {
    text-transform: unset;
    font-weight: 400;
    letter-spacing: unset;
    color: rgba(255, 255, 255, 0.6);
  }

  &--sub-link:active {
    color: rgba(255, 255, 255, 0.9);
  }

  &--is-disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}

.main-header__nav-button {
  display: flex;
  align-items: center;
  gap: 10px;

  &::after {
    flex-shrink: 0;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    mask-image: url("/__spritemap#sprite-arrow-down-view");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: rotate(180deg);
  }

  &:focus::after {
    background-color: $color-white;
  }

  &--is-active {
    color: $color-white;
  }

  &--is-active::after {
    background-color: $color-white;
    transform: unset;
  }
}
