.news {
  position: relative;
  padding: 51px 0 50px;
  --pagination-buttons-height: 26px;

}

.news__section-title {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
    overflow: unset;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.news__buttons-list {
  padding: 0;
  padding-bottom: 12px;
  margin: 0;
  margin-bottom: 11px;
  list-style: none;
  display: flex;
  gap: 9px;
  overflow: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    width: 100%;
    overflow: unset;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
  }

}

.news__slider {
  // height: 700px;
  overflow: hidden;
  margin-bottom: 24px;
}

.news__slider .news__slider-item {
  height: auto;

}

.news__slider-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  // grid-template-rows: repeat(2, auto);

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    //   grid-template-columns: auto;
    //  grid-template-rows: 1fr;
  }
}

.news__slider-item {
  display: flex;
  justify-content: center;
  min-height: fit-content;

  &:nth-child(odd) {
    grid-row: 1 / 2;
  }

  &:nth-child(even) {
    grid-row: 2 / 3;
  }

  @media (min-width: $tablet-width) {
    min-height: fit-content;

    &:nth-child(odd) {
      grid-row: unset;
    }

    &:nth-child(even) {
      grid-row: unset;
      top: -30px;
    }

    &:nth-child(3n) {
      grid-row: 2 / 3;
    }

    &:nth-child(4n) {
      grid-row: 2 / 3;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 286px;
    max-width: 286px;

    &:nth-child(even) {
      top: unset;
    }

    //   &:nth-child(3n) {
    //   grid-row:;
    // }

    // &:nth-child(4n) {
    //   grid-row: 2 / 3;
    // }

    &--bigger-on-desktop {
      max-height: 100%;
      min-width: 604px;
      max-width: 604px;
    }
  }
}

.news__slider-bottom {
  position: relative;
  height: 60px;
}

.news__buttons-swiper-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.news__slider-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid blue;
  height: 32px;
  width: 152px;
  overflow: hidden;
}

.pagination-item {
  position: relative;
  min-width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
//   // width: fit-content;
//   // transform: unset;
// }
