.news {
  position: relative;
  padding: 50px 0;
}

.news__section-title {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

.news__buttons-list {
  padding: 0;
  padding-bottom: 12px;
  margin: 0;
  margin-bottom: 11px;
  list-style: none;
  display: flex;
  gap: 12px;
  overflow: auto;
}

.news__slider {
  // height: 700px;
  overflow: hidden;
}

.news__slider-wrapper {
  position: relative;
}

.news__slider .news__slider-item {
  height: auto;
}

.news__slider-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-template-rows: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 30px;
    //  grid-auto-flow: column;
    // display: flex;
    // flex-direction: row-reverse;
    // &:nth-child(odd) {
    //   grid-row: unset;
    // }

    // &:nth-child(even) {
    //   grid-row: unset;
    // }
  }
}

.news__slider-item {
  display: flex;
  justify-content: center;
  height: auto;

  &:nth-child(odd) {
    grid-row: 1 / 2;
  }

  &:nth-child(even) {
    grid-row: 2 / 3;
  }

  @media (min-width: $tablet-width) {
    min-height: fit-content;

    &:nth-child(odd) {
      grid-row: unset;
    }

    &:nth-child(even) {
      grid-row: unset;
      top: -30px;
      // right: 30px;
    }

    &:nth-child(3n) {
      grid-row: 2 / 3;
    }

    &:nth-child(4n) {
      grid-row: 2 / 3;
    }
  }
}


// .news__slider li.news__slider-item.swiper-slide {
//   order: unset;
// }

.news__buttons-swiper-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.news__slider-pagination {
  // position: static;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  width: fit-content;
}

.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  // width: fit-content;
  // transform: unset;
}
