.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  padding: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  outline: none;
  border: 2px solid transparent;
  flex-shrink: 0;
  background-color: transparent;
  color: rgba(49, 109, 194, 0.5);
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;

  &:hover {
    border-color: $color-cerulean-blue;
    color: $color-cerulean-blue;
  }

  &:focus {
    border-color: $color-cerulean-blue;
    color: $color-cerulean-blue;
    background-color: $color-white;
  }

  &:active {
    background-color: $color-endeavour;
    border-color: transparent;
    color: $color-white;
  }

  &--is-active {
    background-color: $color-cerulean-blue;
    color: $color-white;
  }

  &--is-active-main {
    position: relative;
    z-index: 100;
    background-color: aqua;
   }
}

.pagination-button:not(.pagination-button--is-active-main) {
    //  display: none;
}
