.pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 6px;
  outline: none;
  border: none;
  flex-shrink: 0;
  background-color: transparent;

  // &:hover {
  //   background-image: radial-gradient(circle, rgba(49, 109, 194, 0.7) 2px, $color-white 3px, $color-white 5px, transparent 6px);
  // }

  // &:focus {
  //   background-image: radial-gradient(circle, $color-cerulean-blue 5px, transparent 6px);
  // }

  // &:active {
  //   background-image: radial-gradient(circle, $color-endeavour 5px, transparent 6px);
  // }

  // &--is-active {
  //   background-image: radial-gradient(circle, $color-endeavour 5px, transparent 6px);
  // }
}

.pagination-button__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  min-height: 26px;
  border-radius: 20px;
  border: 2px solid transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: rgba(49, 109, 194, 0.5);
  transition: border-color 0.3s, color 0.3s;
}
