.primary-button {
  // position: relative;
  display: grid;
  grid-template-columns: 1fr 38px;
  align-items: center;
  padding: 3px 1px 3px 20px;
  column-gap: 15px;
  text-decoration: none;
  color: $color-cerulean-blue;
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, max-width 0.3s, min-width 0.3s, transform 0.3s;

  // --big-circle-radius: 46px;
  // --small-circle-radius: 34px;
  // --padding-right: 4px;

  &::before {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // right: var(--padding-right);
    content: "";
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $color-cerulean-blue;
  }

  &::after {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // right: 19px;
    content: "";
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    background-color: $color-white;
    width: 8px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-primary-button-arrow-view");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:hover {
    background-color: $color-cerulean-blue;
    color: $color-white;

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-cerulean-blue;
      transform: rotate(45deg);
    }
  }

  &:focus {
    background-color: transparent;
    border-color: $color-cerulean-blue;
    color: $color-cerulean-blue;

    &::before {
      background-color: $color-cerulean-blue;
    }

    &::after {
      background-color: $color-white;
    }
  }

  &:active {
    background-color: $color-cerulean-blue;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.7);

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: rgba(49, 109, 194, 0.7);
    }
  }

  &--wide {
    gap: 30px;
    padding-left: 30px;
  }

  &--burger {
    grid-template-columns: 1fr 47px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }

  &--burger::after {
    width: 16px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-burger-menu-view");
  }

  &--burger::before {
    width: 46px;
    height: 46px;
  }

  &--burger:hover::after {
    transform: unset;
  }

  .main-header--nav-is-opened &--burger::after {
    width: 18px;
    height: 18px;
    mask-image: url("/__spritemap#sprite-close-icon-view");
  }

  &--light {
    background-color: $color-white;

    &:focus {
      background-color: $color-white;
      color: $color-cerulean-blue;
    }

    &:active {
      background-color: $color-cerulean-blue;
      color: rgba(255, 255, 255, 0.7);
    }

    &:active::before {
      background-color: $color-white;
    }

    &:active::after {
      background-color: rgba(49, 109, 194, 0.7);
    }
  }

  &--dark,
  .main-header--nav-is-opened &--light {
    background-color: #316dc2;
    color: $color-white;

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-cerulean-blue;
    }

    &:hover {
      background-color: $color-white;
      color: $color-cerulean-blue;
      border-color: transparent;
    }

    &:hover::before {
      background-color: $color-cerulean-blue;
    }

    &:hover::after {
      background-color: $color-white;
    }

    &:focus {
      background-color: $color-cerulean-blue;
      color: $color-white;
      border-color: $color-cerulean-blue;
    }

    &:focus::before {
      background-color: $color-white;
    }

    &:focus::after {
      background-color: $color-cerulean-blue;
    }

    &:active {
      background-color: $color-white;
      color: rgba(49, 109, 194, 0.7);
      border-color: transparent;
    }

    &:active::before {
      background-color: $color-cerulean-blue;
    }

    &:active::after {
      background-color: rgb(255, 255, 255, 0.7);
    }
  }

  &:disabled {
    pointer-events: none;
    border-color: $color-mischka;
    color: $color-mischka;

    // background-color: $color-white;
  }

  &:disabled::before {
    background-color: $color-mischka;
  }

  &:disabled::after {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &--is-disabled {
    pointer-events: none;
    border-color: $color-mischka;
    color: $color-mischka;

    // background-color: transparent;
  }

  &--is-disabled::before {
    background-color: $color-mischka;
  }

  &--is-disabled::after {
    background-color: rgba(255, 255, 255, 0.6);
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 48px;
    column-gap: 27px;
    font-size: 14px;
    letter-spacing: 0.28px;

    &--burger {
      padding-left: 20px;
    }

    &::before {
      width: 46px;
      height: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 29px;
  }
}

.primary-button__text {
  justify-self: right;

  .main-header--nav-is-opened & {
    justify-self: left;
  }
}
