.primary-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px 3px 21px;
  text-decoration: none;
  color: $color-cerulean-blue;
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;
  background-color: transparent;
  cursor: pointer;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $color-cerulean-blue;
    color: $color-white;
  }

  &:focus {
    background-color: transparent;
    border-color: $color-cerulean-blue;
    color: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-cerulean-blue;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    pointer-events: none;
    border-color: $color-mischka;
    color: $color-mischka;
    background-color: transparent;
  }

  &--is-disabled {
    pointer-events: none;
    border-color: $color-mischka;
    color: $color-mischka;
    background-color: transparent;
  }

  &--light {
    background-color: $color-white;

    &:focus {
      background-color: $color-white;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  &--light, &--is-disabled {
  background-color: rgba(255, 255, 255, 0.6);
  }
}

.primary-button__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: $color-cerulean-blue;
  transition: background-color 0.3s;
  color: $color-white;

  .primary-button:hover & {
    background-color: $color-white;
    color: $color-cerulean-blue;
  }

  .primary-button:focus & {
    background-color: $color-cerulean-blue;
    color: $color-white;
  }

  .primary-button:active & {
    background-color: $color-white;
    color: rgba(49, 109, 194, 0.7);
  }

  .primary-button:disabled & {
    background-color: $color-mischka;
    color: rgba(255, 255, 255, 0.6);
  }

  .primary-button--is-disabled & {
    background-color: $color-mischka;
    color: rgba(255, 255, 255, 0.6);
  }
}

.primary-button__icon {
  display: block;
  flex-shrink: 0;
  color: inherit;
  transition: color 0.3s;

  .main-header--nav-is-opened & {
    display: none;
  }

  &--close {
    display: none;

    .main-header--nav-is-opened & {
      display: block;
    }
  }

  .primary-button--icon-rotate & {
    transform: rotate(-45deg);
  }

  .primary-button--icon-rotate:hover &,
  .primary-button--icon-rotate:focus &,
  .primary-button--icon-rotate:active & {
    transform: unset;
  }
}
