.primary-button {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 46px;
  justify-content: space-between;
  align-items: center;
  padding: 3px 4px 3px 20px;
  text-decoration: none;
  color: $color-cerulean-blue;
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;
  background-color: transparent;
  cursor: pointer;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, max-width 0.3s;

  &::before {
    content: "";
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $color-cerulean-blue;
  }

  &::after {
    content: "";
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    background-color: $color-white;
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &--burger::after {
    width: 16px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-burger-menu-view");
  }

  &:hover {
    background-color: $color-cerulean-blue;
    color: $color-white;

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-cerulean-blue;
    }
  }

  &:focus {
    background-color: transparent;
    border-color: $color-cerulean-blue;
    color: $color-cerulean-blue;

    &::before {
      background-color: $color-cerulean-blue;
    }

    &::after {
      background-color: $color-white;
    }
  }

  &:active {
    background-color: $color-cerulean-blue;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    pointer-events: none;
    border-color: $color-mischka;
    color: $color-mischka;
    background-color: transparent;
  }

  &:disabled::before {
    background-color: $color-mischka;
  }

  &:disabled::after {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &--is-disabled {
    pointer-events: none;
    border-color: $color-mischka;
    color: $color-mischka;
    background-color: transparent;
  }

  &--is-disabled::before {
    background-color: $color-mischka;
  }

  &--is-disabled::after {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &--light {
    column-gap: 20px;
    background-color: $color-white;

    &:focus {
      background-color: $color-white;
      color: $color-cerulean-blue;
    }

    &:active {
      background-color: $color-cerulean-blue;
      color: rgba(255, 255, 255, 0.7);
    }

    &:active::before {
      background-color: $color-white;
    }

    &:active::after {
      background-color: rgba(49, 109, 194, 0.7);
    }
  }

  .main-header--nav-is-opened &--burger::after {
    width: 18px;
    height: 18px;
    mask-image: url("/__spritemap#sprite-close-menu-view");
  }

  &--dark,
  .main-header--nav-is-opened &--light {
    background-color: #316dc2;
    color: $color-white;

    &::before {
      background-color: $color-white;
    }

    &::after {
      background-color: $color-cerulean-blue;
    }

    &:hover {
      background-color: $color-white;
      color: $color-cerulean-blue;
      border-color: transparent;
    }

    &:hover::before {
      background-color: $color-cerulean-blue;
    }

    &:hover::after {
      background-color: $color-white;
    }

    &:focus {
      background-color: $color-cerulean-blue;
      color: $color-white;
      border-color: $color-cerulean-blue;
    }

    &:focus::before {
      background-color: $color-white;
    }

    &:focus::after {
      background-color: $color-cerulean-blue;
    }

    &:active {
      background-color: $color-white;
      color: rgba(49, 109, 194, 0.7);
      border-color: transparent;
    }

    &:active::before {
      background-color: $color-cerulean-blue;
    }

    &:active::after {
      background-color: rgb(255, 255, 255, 0.7);
    }
  }
}

.primary-button__text {
  grid-row: 1 / 2;
}
