.programs-card {
  min-width: 290px;
  max-width: 290px;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 12px;
  background-color: $color-echo-blue;
  --radius-18: 18px;


  @media (min-width: $tablet-width) {
    min-width: 324px;
    max-width: 324px;
    min-height: 420px;
  }

  @media (min-width: $desktop-width) {
    min-width: 392px;
    max-width: 392px;
  }
}

.programs-card__image-wrap {
  max-width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.programs-card__image-wrap img {
  display: block;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.programs-card__info-wrap {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  border-radius: 12px;
  padding: 38px 10px 17px;
  background-color: rgba(49, 109, 194, 0.2);
}

.programs-card__info {
  align-self: flex-end;
  border-radius: 12px;
}

.programs-card__title {
  position: relative;
  width: fit-content;
  max-width: 230px;
  min-width: 70px;
  z-index: $z-index-second;
  min-height: 38px;
  margin: 0;
  padding: 18px 35px 6px 18px;
  border-radius: 12px 12px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  color: $color-cerulean-blue;
  background-color: $color-white;
  word-break: break-all;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0.7;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 0.71;
  }
}

.programs-card__title-nebo-wrap {
  position: relative;
  width: fit-content;
}

.programs-card__title-nebo {
  @include radius-rounding($radius: 18px);
  --nb-r: var(--radius-18);
  bottom: 0;
  right: calc(var(--radius-18) * -2);
  background-color: $color-white;
}

.programs-card__bottom-wrap {
  display: grid;
  grid-template-columns: 188px 36px;
  gap: 10px;
  align-items: center;
  border-radius: 0 12px 12px;
  padding: 12px 18px 15px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    gap: 42px;
  }
}

.programs-card__content {
  font-weight: 400;
  line-height: 1.17;

  p {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1.17;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 1.43;

    p {
      font-size: 14px;
      line-height: 1.43;
    }
  }

  @media (min-width: $tablet-width) {
    line-height: 1.29;

    p {
      line-height: 1.29;
    }
  }
}
