.programs {
  padding: 50px 0;

  --padding-tablet: 45px;

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.programs__wrap {
  position: relative;
  padding-bottom: 74px;
}

.programs__top-wrap {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-right: var(--padding-tablet);
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.programs__section-title {
  margin: 0;
}

.programs__primary-button {
  width: 205px;
  min-height: 44px;
  position: absolute;
  left: 0;
  bottom: 0;

  @media (min-width: $tablet-width) {
    position: unset;
    width: 234px;
    min-height: 56px;
  }
}

.programs__slider {
  overflow: hidden;
  margin-bottom: 30px;
}

.programs__slider-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.programs__slider-item {
  display: flex;
  justify-content: center;
  height: auto;

  @media (min-width: $tablet-width) {
    width: fit-content;
  }
}

.programs__buttons-swiper-list {
  position: absolute;
  right: 0;
  top: 0;
  z-index: $z-index-first;

  @media (min-width: $tablet-width) {
    position: unset;
  }

}

.programs__bottom-wrap {

  @media (min-width: $tablet-width) {
    max-width: 678px;
    display: grid;
    grid-template-columns: 1fr 54px;
    gap: 62px;
    align-items: center;
  }
}

.programs__scrollbar {
  display: none;
  height: 20px;
  background-image: linear-gradient(to bottom, transparent 9px, rgba(49, 109, 194, 0.2) 9px, rgba(49, 109, 194, 0.2) 11px, transparent 11px);
  max-width: 562px;
  cursor: pointer;
  transition: background-image 0.3s;

  &:hover {
    background-image: linear-gradient(to bottom, transparent 9px, rgba(49, 109, 194, 0.5) 9px, rgba(49, 109, 194, 0.5) 11px, transparent 11px);
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}


.programs__scrollbar-drag {
  height: 20px;
  background-image: linear-gradient(to bottom, transparent 9px, $color-cerulean-blue 9px, $color-cerulean-blue 11px, transparent 11px);
  width: 326px;
  transition: background-image 0.3s;

  &:hover {
    background-image: linear-gradient(to bottom, transparent 9px, $color-endeavour 9px, $color-endeavour 11px, transparent 11px);
  }
}
