.programs {
  padding: 55px 0 50px;
}

.programs__primary-button {
  width: 205px;
  min-height: 44px;
}

.programs__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.programs__section-title {
  margin: 0;
  margin-bottom: 30px;
}

.programs__buttons-swiper-list {
  position: absolute;
  right: 0;
  top: 0;
  z-index: $z-index-first;
}

.programs__slider {
  overflow: hidden;
  margin-bottom: 30px;
}

.programs__slider-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.programs__slider-item {
  display: flex;
  justify-content: center;
  height: auto;
}

.programs__scrollbar {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.programs__primary-button {
  width: 205px;
  min-height: 44px;
  order: 1;
}
