.programs-card {
  min-width: 290px;
  max-width: 290px;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 12px;
  background-color: $color-echo-blue;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    max-width: 324px;
    min-height: 420px;
  }

  @media (min-width: $desktop-width) {
    min-width: 392px;
    max-width: 392px;
  }
}

.programs-card__image-wrap {
  max-width: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.programs-card__image-wrap img {
  display: block;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.programs-card__info-wrap {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  border-radius: 12px;
  padding: 38px 10px;
  background-color: rgba(49, 109, 194, 0.20);
}

.programs-card__info {
  align-self: flex-end;
  column-gap: 16px;
  border-radius: 12px;
}

.programs-card__title {
  position: relative;
  z-index: $z-index-second;
  margin: 0;
  padding: 18px 18px 6px 18px;
  border-radius: 12px 12px 0 0;
  width: 146px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  color: $color-cerulean-blue;
  background-color: $color-white;
}

.programs-card__title-nebo-wrap {
  position: relative;
  width: 182px;
}

.programs-card__title-nebo {
  position: absolute;
  z-index: $z-index-first;
  background-color: $color-white;
  height: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  --nb-r: 18px;
  --nb-w: 0px;
  --nb-h: 0px;
}

.programs-card__bottom-wrap {
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  border-radius: 0px 12px 12px 12px;
  padding: 12px 18px 15px 18px;
  background-color: $color-white;
}

.programs-card__content {
  font-weight: 400;
  line-height: 1.17;

  p {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1.17;
  }

  p:not(:last-child) {
    margin-bottom: 0;
  }
}
