.reviews {
  padding: 50px 0;

  --slider-nav-buttons-height: 32px;
  --padding-tablet: 45px;
  --padding-desktop: 100px;
  --additional-padding-click-zone: 10px;

  @media (min-width: $desktop-width) {
    padding: 65px 0 60px;
  }
}

.reviews__wrap {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: unset;
  }
}

.reviews__section-title {
  min-height: var(--slider-nav-buttons-height);
  margin: 0;
  max-width: 200px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    min-height: unset;
    margin-bottom: 40px;
  }


  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    padding-left: 3px;
  }
}

.reviews__slider {
  overflow: hidden;
}

.reviews__slider-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.reviews__slider-item {
  height: auto;

  @media (min-width: $tablet-width) {
    width: fit-content;
  }
}

.reviews__buttons-swiper-list {
  position: absolute;
  right: calc(var(--additional-padding-click-zone) * -1);
  top: 0;
  z-index: $z-index-first;

  @media (min-width: $tablet-width) {
    position: relative;
    top: unset;
  }
}

.reviews__bottom-wrap {
  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: calc($tablet-width - var(--padding-tablet) * 2);
    display: grid;
    grid-template-columns: 562px 74px;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: calc($desktop-width - var(--padding-desktop) * 2);
    grid-template-columns: 1136px 74px;
  }
}

.reviews__scrollbar {
  display: none;
  width: 100%;
  min-height: 20px;

  @media (min-width: $tablet-width) {
    display: block;
    min-height: 22px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
