.reviews {
  padding: 50px 0 50px;

  --padding-tablet: 45px;
  --additional-padding-click-zone: 10px;

  // @media (min-width: $desktop-width) {
  //   padding: 60px 0;
  // }
}

.reviews__wrap {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: unset;
  }
}

.reviews__top-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  min-height: var(--slider-nav-buttons-height);

  // @media (min-width: $tablet-width) {
  //   padding-right: var(--padding-tablet);
  //   display: flex;
  //   justify-content: space-between;
  // }

  // @media (min-width: $desktop-width) {
  //   margin-bottom: 40px;
  // }
}

.reviews__section-title {
  margin: 0;

}

.reviews__slider {
  overflow: hidden;
}

.reviews__slider-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;

  // @media (min-width: $tablet-width) {
  //   margin-bottom: 40px;
  // }
}

.reviews__slider-item {
  // display: flex;
  // justify-content: center;
  height: auto;

  // @media (min-width: $tablet-width) {
  //   width: fit-content;
  // }
}

.reviews__buttons-swiper-list {
  position: absolute;
  right: calc(var(--additional-padding-click-zone) * -1);
  // top: calc(var(--additional-padding-click-zone) * -0.5);
  bottom: 0;
  z-index: $z-index-first;

  // @media (min-width: $tablet-width) {
  //   position: relative;
  //   top: unset;
  // }
}

.reviews__bottom-wrap {

  // @media (min-width: $tablet-width) {
  //   width: 100%;
  //   display: grid;
  //   grid-template-columns: 1fr 74px;
  //   gap: 62px;
  //   align-items: center;
  // }
}

.reviews__scrollbar {
  display: none;
  width: 100%;
  height: 20px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
