.secondary-button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: $color-white;
  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-cerulean-blue;
  }

  &:hover {
    color: $color-cerulean-blue;
  }

  &:hover::after {
    background-color: $color-white;
  }

  &:focus {
    color: $color-white;
  }

  &:focus::after {
    background-color: $color-cerulean-blue;
  }

  &:active {
    color: rgba(49, 109, 194, 0.7);
  }

  &:active::after {
    background-color: $color-white;
  }

  &:disabled {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.6);
  }

  &:disabled::after {
    background-color: $color-mischka;
  }

  &--is-disabled {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.6);
  }

  &--is-disabled::after {
    background-color: $color-mischka;
  }
}

.secondary-button__icon {
  display: block;
  transform: rotate(-45deg);
  transition: transform 0.3s;

  .secondary-button:hover &,
  .secondary-button:focus & {
    transform: unset;
  }
}
