.section-form {
  padding: 83px 0 80px;
  background-image:
    image-set(url("img/form-photos/form-mobile-background@1x.webp") type("image/webp") 1x,
    url("img/form-photos/form-mobile-background@2x.webp") type("image/webp") 2x,
    url("img/form-photos/form-mobile-background@1x.jpg") type("image/jpeg") 1x,
    url("img/form-photos/form-mobile-background@2x.jpg") type("image/jpeg") 2x),
    linear-gradient(to bottom, $color-alabaster 40px, transparent 40px),
    linear-gradient(to top, $color-alabaster 40px, transparent 40px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 753px, 100% 100%;
}
