.select {
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;

  &--dark-background {
    max-width: 260px;
  }
}

.select select {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.select__label {
  @include label-form-field;

  .select--dark-background & {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(240, 239, 233, 0.8);
  }

  .select:not(.select--is-disabled):hover &,
  .select:not(.select--is-disabled):focus &,
  .select:not(.select--is-disabled):active & {
    color: $color-charcoal;
  }

  .select--is-opened:not(.select--is-disabled) & {
    color: $color-charcoal;
  }

  .select--dark-background:has(.select__button:hover) &,
  .select--dark-background:has(.select__button:focus) &,
  .select--dark-background:has(.select__button:active) & {
    color: $color-alabaster;
  }

  .select--is-opened.select--dark-background:not(.select--is-disabled) & {
    color: $color-alabaster;
  }

  .select--is-disabled & {
    @include label-form-disabled;
  }

  .select--error.select--dark-background & {
    color: rgba(240, 239, 233, 0.8);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
    line-height: 1.43;

    .select--dark-background & {
      font-size: 14px;
      line-height: 1.43;
    }
  }

  @media (min-width: $desktop-width) {
    line-height: 1.29;
  }
}

.select__button {
  @include form-field;

  .select--dark-background & {
    min-height: 52px;
    border-color: rgba(255, 255, 255, 0.3);
  }

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 19px;
    content: "";
    width: 16px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-arrow-down-view");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-charcoal;
  }

  .select--dark-background &::after {
    background-color: $color-white;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $color-charcoal;
  }

  &:focus::after,
  &:active::after {
    transform: translateY(-50%);
  }

  .select--dark-background &:hover,
  .select--dark-background &:focus,
  .select--dark-background &:active {
    border-color: $color-white;
  }

  .select--is-opened:not(.select--is-disabled) & {
    border-color: $color-charcoal;
  }

  .select--is-opened:not(.select--is-disabled) &::after {
    transform: translateY(-50%);
  }

  .select--is-opened.select--dark-background:not(.select--is-disabled) & {
    border-color: $color-white;
  }

  .select--is-disabled & {
    @include disabled-field;
  }

  .select--is-disabled &::after {
    background-color: rgba(72, 72, 72, 0.6);
  }

  .select--is-disabled &:hover::after,
  .select--is-disabled &:focus::after,
  .select--is-disabled &:active::after {
    transform: translateY(-50%) rotate(180deg);
  }

  .select--error & {
    border-color: $color-wild-watermelon;
    background: rgba(255, 94, 102, 0.20);
  }
}

.select__list {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid $color-charcoal;
  list-style: none;
  border-radius: 8px;
  background-color: $color-white;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;

  .select--dark-background & {
    border-color: transparent;
  }

  .select--is-opened:not(.select--is-disabled) & {
    z-index: $z-index-first;
    visibility: visible;
    opacity: 1;
  }

  .select--is-disabled & {
    display: none;
  }
}

.select__item {
  padding: 17px 20px;
  cursor: pointer;
  color: $color-charcoal;
  background-color: $color-white;
  transition: color 0.3s;

  &:not(.select__item--is-disabled):hover {
    color: $color-cerulean-blue;
  }

  &:not(.select__item--is-disabled):focus,
  &:not(.select__item--is-disabled):active {
    background-color: $color-cerulean-blue;
    color: $color-white;
  }

  &[aria-selected="true"] {
    color: $color-white;
    background-color: $color-cerulean-blue;
  }

  &--is-disabled {
    pointer-events: none;
    opacity: 0.4;
  }
}

.select__text {
  display: block;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
