.tab-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: rgba(49, 109, 194, 0.6);
  transition: color 0.3s;

  &--is-active {
    border-color: $color-cerulean-blue;
    color: $color-cerulean-blue;
  }

  &:hover {
    border-color: transparent;
    color: $color-cerulean-blue;
  }

  &:focus {
    border-color: transparent;
    color: $color-cerulean-blue;
    background-color: $color-white;
  }

  &:disabled {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.6);
    background-color: $color-mischka;
    border-color: $color-mischka;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 21px;
    font-size: 14px;
    letter-spacing: 0.28px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 7px;
    min-width: 119px;
  }
}
