@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src:
    url("../../fonts/manrope/Manrope-Regular.woff2") format("woff2"),
    url("../../fonts/manrope/Manrope-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src:
    url("../../fonts/manrope/Manrope-Light.woff2") format("woff2"),
    url("../../fonts/manrope/Manrope-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src:
    url("../../fonts/manrope/Manrope-Medium.woff2") format("woff2"),
    url("../../fonts/manrope/Manrope-Medium.woff") format("woff");
  font-display: swap;
}

