// Цвета
$color-white: #ffffff;
$color-black: #000000;
$color-alabaster: #f0efe9;
$color-charcoal: #484848;
$color-cerulean-blue: #316dc2;
$color-mischka: #a9afb7;
$color-endeavour: #275699;
$color-wild-watermelon: #ff5e66;
$color-echo-blue: #acb4cb;
$color-chambray: #3f5376;
$color-sandrift: #ac937f;

// Размеры вьюпортов
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Шрифты
$primary-font: "Manrope", "Arial", sans-serif;

// Слои
$z-index-zero: 0;
$z-index-first: 1;
$z-index-second: 2;
$z-index-third: 3;
$z-index-forth: 3;
